.btn {
  display: inline-block;
  border: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

@mixin primary-blue-button {
  border-radius: 44px;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 146.687%;
  letter-spacing: 0.77px;
  text-transform: uppercase;
  padding: 10px 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #3040e5;
  min-width: fit-content;
}
