/* Container */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}
.container {
  width: 100lvw;
  min-height: 100lvh;
  display: flex;
  flex-direction: column;
  font-family: "DM Sans";
}

/* Sidebar */
.sidebar {
  background: #f7f9fc;
  width: 100%;
}

.sidebar__image-container {
  width: 100%;
}

.sidebar__image {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.sidebar__content {
  padding: 10px 40px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* user-intro */
.sidebar__user-intro {
  margin-top: 30px;
  font-family: Outfit;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.sidebar__user-name {
  color: #2e2e48;
  font-family: Outfit;
  font-size: 33px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.646px;
}

.sidebar__job-title {
  text-align: center;
  font-family: Outfit;
  font-size: 24.242px;
  font-style: normal;
  font-weight: 500;
  line-height: 32.323px; /* 133.333% */
  letter-spacing: 0.242px;
  background: var(
    --Gradient-Primary,
    linear-gradient(90deg, #a478e8 0%, #516cf7 100%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sidebar__quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar__quote-text {
  color: var(--Gray-Dark, #47516b);
  font-family: Outfit;
  font-size: 18.182px;
  font-style: normal;
  font-weight: 500;
  line-height: 24.242px;
  letter-spacing: 0.364px;
  position: relative;
  max-width: 220px;
}

.sidebar__quote-text::before {
  content: url(.//images/opening_double_quote.svg);
  width: 25px;
  height: 25px;
  position: absolute;
  left: -24px;
}

.sidebar__quote-text::after {
  content: url(.//images/closing_double_quote.svg);
  width: 25px;
  height: 25px;
  position: absolute;
  right: -2px;
}

.sidebar__quote-author {
  color: #79819a;
  font-family: "DM Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 200;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.2px;
}

.sidebar__divider {
  border: 1px solid var(--Gray-Lightest, #e2e6ee);
}

/* info row */
.sidebar__rows {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  justify-content: space-between;
}

.sidebar__row {
  display: flex;
  justify-content: flex-start;
  width: 45%;
  padding: 5px 10px;
  gap: 17px;
  padding-left: 0;
  align-items: center;
}

.sidebar__icon {
  width: 33px;
  height: 33px;
  background-color: #e2e6ee;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar__row-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}

.sidebar__row-title {
  color: #79819a;
  font-family: "DM Sans";
  font-size: 13px;
  font-weight: 200;
  line-height: 16px;
  letter-spacing: 0.12px;
}

.sidebar__row-description {
  color: #47516b;
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.sidebar__row-description a {
  text-decoration: none;
  color: #47516b;
}

.sidebar__container-title {
  color: #79819a;
  font-family: "DM Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 200;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.13px;
  margin-bottom: 24px;
}

.sidebar__icon--flat {
  border-radius: 0;
  height: fit-content;
}

.sidebar__row-title--bold {
  font-weight: 500;
  color: #47516b;
  line-height: 18px;
  font-size: 14px;
}

.sidebar__row-description--faded {
  color: var(--Gray-Default, #79819a);
  font-family: "DM Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 200;
  line-height: 16px;
  letter-spacing: 0.13px;
}

/* Main Section */
.main {
  padding: 40px;
}

.main__body {
  display: flex;
  gap: 32px;
  justify-content: space-between;
}

.main__timeline {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.timeline__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 2.02px 8.081px 0px rgba(0, 0, 0, 0.05),
    0px 12.121px 48.485px 0px rgba(0, 0, 0, 0.04),
    0px 2.02px 2.02px 0px rgba(0, 0, 0, 0.04) inset;
}

.timeline__divider {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.timeline__divider-svg {
  height: 90%;
}

.main__content {
  width: 90%;
  padding-bottom: 48px;
}

.main__title {
  margin-bottom: 32px;
}

.projects__cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.projects__cards:first-child {
  border-radius: 8.081px 0px 0px 8.081px;
}

.projects__cards:last-child {
  border-radius: 0px 8.081px 8.081px 0px;
}

.projects__card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: var(--Gray-Lightest-2, #f7f9fc);
  padding: 25px;
}

.projects__card-top {
  display: flex;
  gap: 17px;
  justify-content: flex-start;
  align-items: center;
}

.projects__info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  max-width: 70%;
}

.projects__name {
  color: var(--Gray-Darker, #2e2e48);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20.202px; /* 125% */
}

.projects__description {
  color: var(--Gray-Default, #79819a);
  font-family: "DM Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 200;
  line-height: 18.182px; /* 128.571% */
  letter-spacing: 0.141px;
}

.projects__card-bottom {
  display: flex;
  gap: 14px;
  align-items: center;
}

.projects__link-icon {
  display: flex;
  gap: 14px;
  width: 28px;
  height: 28px;
  background: var(--Secondary-Lighter, #e1e7fe);
  border-radius: 50%;
  padding: 3px;
}

.projects__link {
  text-decoration: none;
  color: var(--Secondary-Default, #516cf7);
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20.202px;
}

.projects__card:first-child {
  border-radius: 8.081px 0px 0px 8.081px;
}

.projects__card:last-child {
  border-radius: 0px 8.081px 8.081px 0px;
}

/* new experiences css start */

.experience__cards {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.experience__card {
  display: flex;
  gap: 10px;
}

.experience__sub-timeline {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  align-items: center;
}

.experience__sub-timeline-divider {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.experience__divider-svg {
  height: 100%;
}

.experience__card-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.experience__card-left {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 60%;
}

.experience__card-left > p {
  display: flex;
  gap: 5px;
}

.experience__date {
  color: var(--Gray-Dark, #47516b);
  font-family: "DM Sans";
  font-size: 10.101px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.101px;
}

.experience__location {
  color: var(--Gray-Default, #79819a);
  font-family: "DM Sans";
  font-size: 10.101px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.101px;
}

.experience__card-detail {
  display: flex;
  gap: 16px;
  align-items: center;
}

.experience__icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.experience__text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
}

.experience__job-title {
  color: var(--Gray-Default, #79819a);
  font-family: "DM Sans";
  font-size: 12.121px;
  font-style: normal;
  font-weight: 300;
  line-height: 16.162px; /* 133.333% */
  letter-spacing: 0.121px;
}

.experience__company {
  color: var(--Gray-Darker, #2e2e48);
  font-family: "DM Sans";
  font-size: 14.141px;
  font-style: normal;
  font-weight: 500;
  line-height: 18.182px; /* 128.571% */
}

.experience__card-right {
  gap: 8px;
  width: 100%;
}

.experience__card-right > p {
  color: var(--Gray-Default, #79819a);
  font-family: "DM Sans";
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.1px;
  text-align: justify;
}

.education__cards-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.education__card {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 16px 25px;
  width: 100%;
  background: var(--Gray-Lightest-2, #f7f9fc);
}

.education__card:first-child {
  border-radius: 8.081px 0px 0px 8.081px;
}

.education__card:last-child {
  border-radius: 0px 8.081px 8.081px 0px;
}

.education__card-title {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 4px;
}

.education__icon > img {
  width: 50px;
}

.education__description {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.education__title {
  color: var(--Gray-Darker, #2e2e48);
  font-family: "DM Sans";
  font-size: 14.141px;
  font-style: normal;
  font-weight: 500;
  line-height: 18.182px; /* 128.571% */
}

.education__date {
  color: var(--Gray-Default, #79819a);
  font-family: "DM Sans";
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.101px;
}

/*  educaation section end */

/* Skills Section */
.skills__cards-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}

.skills__card-icon {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background: var(--Primary-Lighter, #efe2f9);
  border-radius: 50%;
}

.skills__card-icon--blue {
  background-color: #e1e7fe;
}

.skills__cards-container > .skills__card {
  display: flex;
  gap: 30px;
  width: 100%;
}

.skills__cards-container > .skills__card:first-child {
  color: var(--Primary-Default, #9251f7);
}
.skills__cards-container > .skills__card:last-child {
  color: var(--Secondary-Default, #516cf7);
}

.skills__card-header {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skills__card-body {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}

.skills__item {
  width: 100%;
  background: var(--Gray-Lightest-2, #f7f9fc);
  padding: 16px;
}

.skills__item:first-child {
  border-radius: 8.081px 0px 0px 8.081px;
}

.skills__item:last-child {
  border-radius: 0px 8.081px 8.081px 0px;
}

.skills__item--two {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.skills__item--two > div {
  padding: 0px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.skills__item--two > div:first-child {
  border-right: 1px solid var(--Gray-Lightest, #e2e6ee);
}
.skills__item--single > div {
  max-width: 100px;
  padding-left: 10px;
}

.skills__item--list {
  padding-left: 40px;
}

.skills__item--three {
  display: flex;
}

.skills__item-three-left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid var(--Gray-Lightest, #e2e6ee);
}
.skills__item-three-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.skills__divider {
  width: 50%;
  border-top: 1px solid var(--Gray-Lightest, #e2e6ee);
}

/* tools container */
.tools__cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
}

.tools__card {
  display: flex;
  height: 129.293px;
  width: 138px;
  padding: 16.162px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8.081px;
  flex-grow: 1;
  min-width: 138px;
  border-radius: 8.081px 0px 0px 0px;
  background: var(--Gray-Lightest-2, #f7f9fc);
}

.tools__card-icon {
  /* empty for now */
}

.tools__card-title {
  color: var(--Gray-Darker, #2e2e48);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18.182px; /* 128.571% */
}

.tools__card-description {
  color: var(--Gray-Default, #79819a);
  text-align: center;
  font-family: "DM Sans";
  font-size: 10.101px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.101px;
}

@media only screen and (min-width: 600px) {
  .container {
    flex-direction: row;
    width: 100vw;
    overflow: hidden;
  }

  .experience__card-left {
    width: 80%;
  }

  .sidebar {
    width: 35%;
  }

  .main {
    width: 65%;
  }

  .sidebar__row {
    width: 100%;
  }

  .experience__card {
    width: 100%;
  }
  .skills__item--two {
    flex-direction: column;
  }
  .skills__item--two > div:first-child {
    border-right: 0;
    border-bottom: 1px solid var(--Gray-Lightest, #e2e6ee);
    border-bottom-width: 50%;
    padding-bottom: 10px;
  }
}

/* for mobile and tablet */
@media only screen and (min-width: 1100px) {
  body {
    display: flex;
    justify-content: center;
  }
  .container {
    max-width: 1700px;
  }
  .projects__cards {
    flex-direction: row;
  }
  .experience__card {
    flex-direction: row;
  }

  .experience__card-content {
    width: 100%;
    flex-direction: row;
  }
  .experience__card-right {
    width: 100%;
  }
  .education__cards-container {
    flex-direction: row;
    width: 100%;
  }
  .education__card {
    width: 32%;
  }
  .skills__card-body {
    flex-direction: row;
  }
}

@media only screen and (max-width: 528px) {
  .skills__cards-container {
    font-size: 12px;
  }
  .skills__item--two {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .skills__item--two > div:first-child {
    border-bottom: 1px solid var(--Gray-Lightest, #e2e6ee);
    border-right: 0 !important;
    padding-bottom: 10px;
  }
}
